:root {
  --main-light-color: white;
  --orange: rgb(234,75,31);
  --blue: rgb(36,129,174);
  --blue-hover: rgb(73, 165, 211);
  --sand: rgb(231,179,127);
  --dark-teal: rgb(18,44,52);
  --green: rgb(65,97,46);
  --light-sand: rgb(234, 214, 194);
  --light-transparent-bg: rgba(255, 255, 255, 0.8);
}

body, p, h1, h2, h3, button, ul, li, a {
  margin: 0;
  font-size: 0.9rem;
}

body {
  background-color: var(--main-light-color);
  font-family: "Raleway", sans-serif;
  color: var(--dark-teal);
}

h2 {
  font-size: 1.9rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}

button {
  font-family: "Raleway", sans-serif;
  background-color: var(--blue);
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  color: var(--main-light-color);
  transition: 0.3s;
}

button:hover {
  background-color: var(--blue-hover);
}

#book-now {
  border: 1px solid var(--main-light-color);
  border-radius: 5px;
  padding: 10px 15px;
  transition: 0.3s;
}

#book-now:hover {
  background-color: var(--main-light-color);
  color: var(--dark-teal);
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.head-wrapper {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}
.head-wrapper .logo {
  width: 250px;
}
.head-wrapper a {
  text-decoration: none;
  color: var(--main-light-color);
  transition: 0.3s;
}
.head-wrapper a:hover {
  color: var(--light-sand);
}
.head-wrapper nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 100px;
}
.head-wrapper nav .menu {
  display: flex;
  gap: 50px;
  align-items: baseline;
}
.head-wrapper nav .account {
  display: flex;
  gap: 10px;
}
.head-wrapper nav .account #to-userpage::before {
  font-family: "FontAwesome";
  content: "\f007";
  padding-right: 7px;
  font-size: 1.1rem;
}
.head-wrapper nav .account #log-out {
  display: none;
}
.head-wrapper nav .account #log-out::before {
  font-family: "FontAwesome";
  content: "\f2f5";
  padding-right: 7px;
  font-size: 1.1rem;
}

footer {
  background-color: var(--blue);
  color: var(--main-light-color);
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
footer .address, footer .copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .address p, footer .copyright p {
  padding-bottom: 10px;
}
footer .address .phone-number, footer .copyright .phone-number {
  font-size: 1.5rem;
  font-weight: 600;
}
footer .links {
  display: flex;
  gap: 20px;
  align-items: center;
}
footer .links .socials {
  display: flex;
  gap: 10px;
  border-right: 2px solid var(--main-light-color);
  padding: 7px 20px;
}
footer .links .socials a {
  font-size: 1.2rem;
  color: var(--main-light-color);
  transition: 0.3s;
}
footer .links .socials a:hover {
  color: var(--light-sand);
}
footer a {
  text-decoration: none;
  color: var(--main-light-color);
}/*# sourceMappingURL=globalstyles.css.map */