:root {
    --main-light-color: white;
    --orange: rgb(234,75,31);
    --blue: rgb(36,129,174);
    --blue-hover: rgb(73, 165, 211);
    --sand: rgb(231,179,127);
    --dark-teal: rgb(18,44,52);
    --green: rgb(65,97,46);
    --light-sand: rgb(234, 214, 194);
    --light-transparent-bg: rgba(255, 255, 255, 0.5);
}

body, p, h1, h2, h3, button, ul, li, a {
    margin: 0;
    font-size: 0.9rem;
}

body {
    background-color: var(--main-light-color);
    font-family: "Raleway", sans-serif;
    color: var(--dark-teal);
}

h2 {
    font-size: 1.9rem;
    text-transform: uppercase;
    font-weight: 400;
}

h3 {
    font-size: 1.6rem;
    text-transform: capitalize;
    font-weight: 400;
}

button {
    font-family: "Raleway", sans-serif;
    background-color: var(--blue);
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    color: var(--main-light-color);
    transition: 0.3s;
    cursor: pointer;
}

button:hover {
    background-color: var(--blue-hover);
}

#book-now {
    border: 1px solid var(--main-light-color);
    border-radius: 5px; 
    padding: 10px 15px;
    transition: 0.3s;
}

#book-now:hover {
    background-color: var(--main-light-color);
    color: var(--dark-teal);
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
  
main {
    flex: 1;
}

.head-wrapper {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px 30px;

    .logo {
        width: 250px;
    }
    
    a {
        text-decoration: none;
        color: var(--main-light-color);
        transition: 0.3s;
    }
    
    a:hover {
        color: var(--light-sand);
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        gap: 100px;

        .menu {
            display: flex;
            gap: 50px;
            align-items: baseline;
        }

        .account {
            display: flex;
            gap: 10px;

            #to-userpage::before {
                font-family: 'FontAwesome';
                content: '\f007';
                padding-right: 7px;
                font-size: 1.1rem;
            }

            #log-out {
                display: none;
            }

            #log-out::before {
                font-family: 'FontAwesome';
                content: '\f2f5';
                padding-right: 7px;
                font-size: 1.1rem; 
            }
        }
    }
}

.room-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    .room {
        display: flex;
        background-color: var(--light-transparent-bg);
        border-radius: 5px;
        min-height: 250px;
        max-width: 700px;
        padding: 10px;
        gap: 20px;

        .room-photo-box {
            display: flex;
            flex: 2;
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                overflow: hidden;
                border-radius: 5px;
              }

        }

        .room-info-box {
            display: flex;
            flex-direction: column;
            flex: 3;
            gap: 10px;

            p {
                text-align: justify;
            }
        }

        .room-side-box {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            flex: 1;
            padding: 10px;

            span {
                font-size: 2rem;
                display: block;
                margin-bottom: 5px;
            }

        }

    }
}

.dateSelection {

    input {
        border: 2px solid var(--grey);
        border-radius: 4px;
        display: block;
        padding: 10px;
    }

    input:focus {
    outline: 0;
    }
}

footer {
    background-color: var(--blue);
    color: var(--main-light-color);
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;

    .address, .copyright {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        p {
            padding-bottom: 10px;
        }

        .phone-number {
            font-size: 1.5rem;
            font-weight: 600;
        }
    }

    .links {
        display: flex;
        gap: 20px;
        align-items: center;

        .socials {
            display: flex;
            gap: 10px;
            border-right: 2px solid var(--main-light-color);
            padding: 7px 20px;
    
            a {
                font-size: 1.2rem;
                color: var(--main-light-color);
                transition: 0.3s;
            }
    
            a:hover {
                color: var(--light-sand);
            }
        }
    }
    a {
        text-decoration: none;
        color: var(--main-light-color);
    }

}