:root {
    --main-light-color: white;
    --orange: rgb(234,75,31);
    --blue: rgb(36,129,174);
    --blue-hover: rgb(73, 165, 211);
    --sand: rgb(231,179,127);
    --dark-teal: rgb(18,44,52);
    --green: rgb(65,97,46);
    --light-sand: rgb(234, 214, 194);
    --light-transparent-bg: rgba(255, 255, 255, 0.8);
}

@mixin respond($breakpoint) {
    @if($breakpoint == tablet)  {
      @media (min-width: 630px) and (max-width: 992px) { @content }
    }

    @if($breakpoint == mobile)  {
      @media (max-width: 629px) { @content }
    }
}

$border-radius: 5px;

body {
    background-image: url('../pics/tom-briskey-pEAiPigyWcQ-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

main {


   .content-wrapper {
        display: flex;
        background-color: var(--light-transparent-bg);
        border-radius: $border-radius;

        @include respond(mobile) {
            border-radius: 0px;
            flex-direction: column;
        }


        .about-hotel {
            flex: 1;
            padding: 50px 5vw;
            display: flex;
            flex-direction: column;

            p {
                font-style: italic;
                font-size: 1.1rem;
                text-align: justify;
                padding-bottom: 20px;;
            }

            #book-now {
                border: none;
                background-color: var(--sand);
            }

            #book-now:hover {
                background-color: var(--light-transparent-bg);
            }
        }

        .photo-container {
            display: flex;
            flex: 1.5;
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                overflow: hidden;
                border-top-right-radius: $border-radius;
                border-bottom-right-radius: $border-radius;

                @include respond(mobile) {
                    border-radius: 0px;
                }
            }

        }


   }
}





